/*
 * SPDX-FileCopyrightText: 2020 Giancarlo Frison <giancarlo.frison@sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
./vertx
/rl-files
/build
/out
./idea
nohup.out
.DS_Store
target/
.idea/
*.iml
atlassian-ide-plugin.xml
*.epoch
*.log
*.lck
*.prefs
.settings/
*.eclipse.*
nohup.out
.idea/*
.checkstyle
.classpath
.project
.ruleset
.springBeans
license*.lic
.gradle/
GoogleNews-vectors-negative300.bin
/ui/node_modules
/ui/dist
/ui/dashboard/dist
/ui/dashboard/node_modules

/owls/cnet-full.owl
.bloop/
.metals/

